#plats-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  & .plat-container {
    display: flex;
    flex-direction: row;
    outline: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
    background-color: white;
    width: 500px;
    & h4 {
      color: black !important;
      font-size: 2em;
      margin: 0.2em;
    }

    & p {
      margin: 0.2em;
    }
  }
}

odivino-admin-tabs {
  & .tabcontent {
    all: unset;
    display: block !important;

    /* color: white !important; */
  }
}

odivino-edit-plat {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000000000000000000;
  background-color: rgba(0, 0, 0, 0.5);

  & label {
    width: 100px;
    display: block;
  }
  #edit_plat_container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
}
